.unoslider {
    list-style: none;
    position: relative;
    width: 100%;
    left: 0;
    max-height: 100%;
    margin-bottom: 0;
    padding: 0;
}
.unoslider {
    width: 100% !important;
    height: 100% !important;
}
.unoslider_slider_area {
    height: auto !important;
    width: 100% !important;
    position: relative !important;
}
.unoslider_navigation { cursor: pointer }
.unoslider_caption {
    position: absolute;
    bottom: 10px;
    left: 0;
    font-family: "Helvetica neue",Helvetica,Verdana,sans-serif;
    text-shadow: black 0 1px 0;
    padding: 10px 0;
    width: 100%;
    background-color: #373737;
    border-top: 1px solid #545454;
    border-bottom: 1px solid #545454;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: .8;
    color: white;
    text-align: center;
    font-size: 13px;
}
/* play, pause, previous and next elements */
.unoslider_pause, .unoslider_play, .unoslider_left, .unoslider_right,.unoslider_center {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  position: absolute;
  display: block;
  margin:16px
}

/* play and pause elements */
.unoslider_pause, .unoslider_play {
  height: 31px;
  width: 28px;
  margin-top: -15.5px;
  margin-left: -14px;
  top: 50%;
  left: 50%;
}

/* previous and next elements */
.unoslider_left, .unoslider_right {
  width: 60px;
  height: 64px;
  margin-top: -32px;
  top: 50%;
}

.unoslider_center {
  width: 50px;
  height: 64px;
  margin-top: -32px;
  margin-right:200px;
  top: 50%;
}
.unoslider_pause, .unoslider_play {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    position: absolute;
    display: block;
    background: url(../images/slider/ribbon.png) no-repeat;
}

/* previous */
.unoslider_left {
  background: url(../images/slider/left.png) no-repeat;
  left: -6px;
}

/* next */
.unoslider_right {
 background: url(../images/slider/right.png) no-repeat;
  right: -6px;
}

.unoslider_pause,
.unoslider_play {
    height: 31px;
    width: 28px;
    margin-top: -15.5px;
    margin-left: -14px;
    top: 50%;
    left: 50%;
}
.unoslider_left,
.unoslider_right {
    width: 50px;
    height: 50px;
    margin-top: -32px;
    top: 50%;
	width:59px;
	height:59px;
	
}
.unoslider_left {
    left: 0;
    top: 50%;
}
.unoslider_right {
    right: 0;
    top: 50%;
}
.unoslider_pause { background-position: 0 -195px }
.unoslider_play { background-position: 0 -150px }
.unoslider_indicator {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    text-align: center;
    _text-align: right;
    *text-align: right;
}
.unoslider_indicator a {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    cursor: pointer;
    margin: 3px;
    margin-top: -20px;
    height: 10px;
    width: 30px;
    background-color: black;
    background: url(../images/slider/no_hover.png) no-repeat;
}
.unoslider_indicator a { *display: inline }
.unoslider_indicator a.unoslider_indicator_active {
    background: url(../images/slider/hover.png) no-repeat;
    height: 10px;
    width: 30px;
}
.motabanner {
    background-color: rgba(13,15,5,0.7);
    width: 360px;
    padding: 10px;
    position: absolute;
    left: 60%;
    top: 35%;
    font-family: Robotobold;
}
.motabanner .tieudedb {
    color: #f56a1f;
    font-size: 19px;
    font-weight: bold;
}
.motabanner a {
    color: white;
    font-size: 15px;
    opacity: 1 !important;
}
.xemchitietsilider {
    background-color: #f56a1f;
    width: 121px;
    padding: 10px;
    margin-top: 10px;
}
.xemchitietsilider i { margin-left: 10px }